<glimmer-repl>
  {{#if isLoaded}}
    <div class="pane editor">
      <h1 class="title">Glimmer Playground</h1>
      {{#each components key="id" as |component|}}
        <div class="component">
          <h2 class="component-name">
              <span class="bracket">&lt;</span>
              {{~#if component.isEditable~}}
                <EditableTitle @value={{component.name}} @onChange={{action componentNameDidChange component}} />
              {{~else~}}
                {{component.name}}
              {{~/if~}}
              <span class="bracket">&gt;</span>
              {{#if component.isEditable}}
                <RemoveButton @onClick={{action removeComponent component}} />
              {{/if}}
          </h2>
          {{#if component.template}}
          <div class="file template">
            <h3 class="file-name">template.hbs</h3>
            <CodeEditor @file={{component.template}} />
          </div>
          {{/if}}

          {{#if component.component}}
            <div class="file implementation">
              <h3 class="file-name">
                component.ts
                <RemoveButton @onClick={{action removeComponentImplementation component}} />
              </h3>
              <CodeEditor @file={{component.component}} />
            </div>
          {{else}}
            <div class="file add-implementation">
              <Button @onClick={{action addComponentImplementation component}} @title="Add TypeScript" />
            </div>
          {{/if}}
        </div>
      {{/each}}

      {{#each helpers key="id" as |helper|}}
        <div class="helper">
          <h2 class="helper-name">
              <span class="bracket">\{{</span>
              {{~#if helper.isEditable~}}
                <EditableTitle @value={{helper.name}} @onChange={{action helperNameDidChange helper}} />
              {{~else~}}
                {{component.name}}
              {{~/if~}}
              <span class="bracket">}}</span>
              {{#if helper.isEditable}}
                <RemoveButton @onClick={{action removeHelper helper}} />
              {{/if}}
          </h2>
        {{#if helper.helper}}
          <div class="file implementation">
            <h3 class="file-name">
              helper.ts
              <RemoveButton @onClick={{action removeHelperImplementation helper}} />
            </h3>
            <CodeEditor @file={{helper.helper}} />
          </div>
        {{/if}}
        </div>
      {{/each}}

      <Button @onClick={{action createNewComponent}} @title="Create New Component" />
      <Button @onClick={{action createNewHelper}} @title="Create New Helper" />
    </div>

    <div class="pane vm">
      <Sandbox @fs={{fs}} @onUnknownComponent={{action saveUnknownComponent}} />
    </div>

    {{#if isVisualizerShowing}}
      <Visualizer @fs={{fs}} />
    {{/if}}

    <button class="toggle-visualizer" onclick={{action toggleVisualizer}}>π</button>
  {{else}}
    <div class="pane editor">
      <div class="loading">
        <span>Loading the Playground...</span>
      </div>
    </div>
    <div class="pane vm">
    </div>
  {{/if}}
</glimmer-repl>
